@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

* { 
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --font-primary: "Baloo Da 2", serif;
  --font-secundary: "Josefin Slab", serif;
  --font-action: "Muli", serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #332f32, #4a7383);
}

.container {
  width: 50rem;
  height: auto;
  max-width: 50rem;
  max-height: 90vw;
  margin: 30px, 10px, 20px, 10px;
}

.image-profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3rem;
}

.image-profile-container h1 {
  margin-top: 0.9rem;
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 2.5rem;
  color: aliceblue;
  text-align: center;
}

.image-profile-container h2 {
  width: 100%;
  font-family: var(--font-secundary);
  font-weight: 600;
  font-size: 1.25rem;
  color: aliceblue;
  text-align: center;
}

.image-profile {
  width: 150px;
  height: 180px;
  border-radius: 50%;
}

.link-container {
  width: 100%;
  max-width: 50rem;
  height: 70px;
  border-radius: 10px;
  background: transparent;
  border-bottom: #3f7d96 solid 4px;
  box-shadow: 
  5px, 5px, 10px #304f55, 
  -5px, -5px, -10px #3a5a69;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
  cursor: pointer;
  transition: border-width 0.2s linear;
}

.link-container a {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-family: var(--font-action);
  font-weight: 700;
  margin-left: 1.9rem;
  color: #e0dbdb;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.link-container:hover {
  border: 3px solid #3f7d96;
  color: #e0dbdb;
}

footer {
  width: 100%;
  height: 1.9rem;
  text-align: center;
  margin-top: 3rem;
}

.footer-container {
  width: 100%;
  font-family: var(--font-secundary);
  font-weight: 500;
  font-size: 1rem;
  color: aliceblue;
  text-align: center;
}

.fa-brands {
  color: rgb(228, 221, 213);
}

.fa-brands:hover {
  color: #e0dbdb;
}
